@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroud--grey{
    background-color: #333333;
}

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}